<%- include('includes/header');%>
<link rel="stylesheet" href="../public/style.css">
<style>body{background-color: rgb(250, 242, 216);}</style>
<body>

   <%- include('includes/navbar');%>
   <h1> helle admin </h1>
 
   <%- include('includes/footer');%>